/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#parent {
  /* list-style: none; */
  width: 50%;
  /* height: 90px;
  margin: 0;
  padding: 0; */
  white-space: nowrap;
  /* overflow-x: auto;
  overflow-y: hidden; */
}

#parent > li {
  display: inline-block;
  width: 50%;
  height: 100%;
  /* background-color: red; */
}

body {
  /* background-image: url("https://images.unsplash.com/photo-1524862655266-89c67a10c4b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); */
  /* background-color: #cccccc; */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRT-AtG5G1nnYhzLkjr5ooPEtP_PupmEa9BzA&usqp=CAU");
}

/* https://www.google.com/imgres?imgurl=https%3A%2F%2Fpng.pngtree.com%2Fthumb_back%2Ffw800%2Fback_our%2F20190617%2Fourmid%2Fpngtree-blue-ink-large-size-background-image_124631.jpg&imgrefurl=https%3A%2F%2Fpngtree.com%2Ffreebackground%2Fblue-ink-large-size-background_1109089.html&tbnid=GJuUi_D2IchcLM&vet=12ahUKEwjI2P_73c_rAhV2nksFHR-HCZcQMygBegUIARDXAQ..i&docid=LAG0eV85XPyavM&w=960&h=400&q=background%20images%20with%20large%20size&ved=2ahUKEwjI2P_73c_rAhV2nksFHR-HCZcQMygBegUIARDXAQ */
